<footer>
    <nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-facebook" style="font-size: 30px; color: aliceblue; width:30px;" ></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-twitter" style="font-size: 30px; color: aliceblue; width:30px;"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-instagram" style="font-size: 30px; color: aliceblue; width:30px;"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-linkedin" style="font-size: 30px;color: aliceblue; width:30px;"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <p class="text">© {{ year }} Hotels.com  All rights reserved.</p>
        </div>
      </div>
    </div>
    </nav>
  </footer>
  