
<section class="mt-3">
    <div class="container">
        <h3>EXPLORE INDIA </h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img style="height: 200px;" src="../assets/images/bengaluru.jpeg" alt="bengaluru" class="img-fluid">
                    <div class="card-body">
                        <p class="h2">Bengaluru</p>
                        <h5><b>Radisson Blue Atria</b></h5>
                        <p> Outdoor swimming pool and fitness centre</p>
                        <hr>
                        <h5><b>The Leela Palace</b></h5>
                        <p>The Luxury of all time</p>
                        <hr>
                         <h5><b>Vistar Resorts</b></h5>
                         <p>Extarordinary Amenities & services from $200</p>
                    </div>
                </div>
            
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img  src="../assets/images/mumbai.jpeg" alt="Mumbai" class="img-fluid">
                    <div class="card-body">
                        <p class="h2">Mumbai</p>
                        <h5><b>Maxwell's Golf Retreat</b></h5>
                        <p>Facilities for Outdoor games </p>
                         <hr>
                         <h5><b>City Stay</b></h5>
                          <p>Banquet Halls for Wedding</p>
                          <hr>
                          <h5><b>Casa Inn</b></h5>
                        <p>Firecamps and much more!!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img style= "height: 200px;" src="../assets/images/goa.jpeg" alt="Goa" class="img-fluid">
                    <div class="card-body">
                        <p class="h2">Goa</p>
                        <h5><b>The cliff Edge Calangute</b></h5>
                        <p>Hotel guests get special park benefits!</p>
                         <hr>
                         <h5><b>Hard Rock Hotel</b></h5>
                          <p>Unique Convenience &style from $188.00</p>
                          <hr>
                           <h5><b>Bliss By stays</b></h5>
                        <p>Lakeside Resort with rates from $82</p>
                    </div>
                </div>
            </div>
        </div>
            </div>
            
</section>

<section class="mt-3">
   
    <div class="container" style="margin-top: 50px;">
        <h3>OFFERS</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img src="../assets/images/offers1.jpeg" alt="offer1">
                    <div class="card-body">    
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img style= "height: 175px;"  src="../assets/images/offers2.jpeg" alt="offer2">
                    <div class="card-body">    
                        <button class="btn btn-danger btn-sm">Book Now</button>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img style= "height: 175px;" src="../assets/images/offers3.jpeg" alt="offer3">
                    <div class="card-body">     
                        <button class="btn btn-danger btn-sm">Book Now</button> 
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
