<div class="user">
    <h3>User Ratings & Reviews</h3>
    <h6>Important information that you need to know before you book!</h6>
    <h3>Featured Reviews by Travellers</h3>
    <hr>
    <div class="review"  *ngFor="let hotelrating of hotelratings" >
       <div class="box" style=" background-color: #f2f6f8ee; padding-left: 20px;padding-right: 20px;padding-bottom: 10px;">
        <p class="bold">{{hotelrating.comment}}</p> 

            Rated {{hotelrating.rating}}.0 by {{hotelrating.rated_By}} . {{hotelrating.date}} <br>
            
            {{hotelrating.description}}
        </div>
    </div>
</div>            
        
            
            
    <!-- </div>
    <br>
    <div class="review">
        <p> <p class="bold">Good Stay</p> 

Rated 4.0 by Mohit Kumar . Solo Traveller . Dec 20, 2022
<br>
"it was a good stay in fairfield by marriot, anjuna, goa. However, if i may submit a point for improvement i would say that the double bed needs to be put with a single mattress rather than two mattress for a double bed. Rest the staff was prompt and upto the mark. Excellent cleanliness. Good breakfast as it was included in my booking. Beautiful swimming pool. Good basic facility for gym. Overall a very good experience "
<br>
Do you find this helpful?


    </div>
    <br>
    <div class="review">
        <p> <p class="bold">Top notch</p> 

        Rated 5.0 by Dionne Dsouza . Solo Traveller . Nov 22, 2022
<br>
Very helpful, courteous staff and always smiling. I really love the hotel ambience, location and it is easy to get bike rentals nearby. The room was very clean and the view from room was good. The staff also catered to my requests promptly. Breakfast buffet spread was excellent! this place make me feel safe and comfortable. Highly recommend fairfield by marriott goa anjuna!<br>
<br>
Do you find this helpful?


    </div>
<br>
    <div class="review">
        <p> <p class="bold">Good Stay</p> 

        Rated 4.0 by Siddharth Desai . Solo Traveller . Jan 02, 2023
<br>
this is regarding fairfield by marriott goa anjuna. it’s a good property. economical i would say. the rooms are a bit small and queen beds. but food is really good. pool is good. well maintained. airy and spacious outside. good location. i would definitely recommend it in anjuna. country inn by radisson candolim goa.<br>
Do you find this helpful?


    </div>
<br>
    <div class="review">
        <p> <p class="bold">Excellent Stay</p> 

        Rated 5.0 by Sanjana Agarwal . Solo Traveller . Oct 20, 2022
<br>
It was a wonderful stay at fairfield by marriott hotel. Amazing location in anjuna - close to all hot spots nearby. The service was smooth ans convenient. It was a premium stay and completely worth the value. Thank you so much for hosting us<br>
Do you find this helpful? -->


